<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="w3.css" />
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="easyui/demo/demo.css"/>
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="js1/manageruser.js"></script>
</head>

<body>
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north'" style="width: 100%;height: 9%">
	</div>

	<div data-options="region:'center',title:'用户列表'">
		<table id="datagrid"  class="easyui-datagrid" style="width:100%;height:100%"
			   url="/all_students"
			   toolbar="#dgtoolbar" pagination="true"
			   pageSize="25"    pageList="[25,15,10]"
			   rownumbers="false" fitColumns="true" singleSelect="true" >
			<thead>
			<tr>
				<th data-options="field:'stu_id',align:'center',width:'9%'">学号</th>
				<th data-options="field:'password',align:'center',width:'9%'">密码</th>
				<th data-options="field:'sex',align:'center',width:'9%'">性别</th>
				<th data-options="field:'stu_class',align:'center',width:'9%'">班级</th>
				<th data-options="field:'stuName',align:'center',width:'9%'">姓名</th>
			</tr>
			</thead>
		</table>
		<div id="dgtoolbar">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUsers()">添加用户</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="removeUsers()">删除用户</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="editUsers()">修改信息</a>
		</div>

	</div>
</div>
<!--</div>-->
<div id="delete" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
	 closed="true" buttons="#modifydg-buttons">
	<form id="fimd" action="#" th:action="@{/students/delete}" method="post" >
		<div class="fite">
			<label>学号:</label>
			<input name="stu_id" class="easyui-validatebox" required="true" />
			<button class="easyui-linkbutton" type="submit">删除</button>
			<a href="#" class="easyui-linkbutton"  onclick="javascript:$('#adddg').dialog('close')">取消</a>
		</div>
	</form>
</div>
<div id="modifydg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
	 closed="true" buttons="#modifydg-buttons">
	<div class="ftitle">学生信息</div>
	<form id="fim" action="#" th:action="@{/students/add}" method="post" >
		<div class="fitem">
			<label>学号:</label>
			<input name="stu_id" class="easyui-validatebox" required="true" />
		</div>
		<div class="fitem">
			<label>密码:</label>
			<input name="password" class="easyui-validatebox" required="true" />
		</div>
		<div class="fitem">
			<label>性别:</label>
			<input name="sex" class="easyui-validatebox" required="true" />
		</div>
		<div class="fitem">
			<label>班级:</label>
			<input name="stu_class" class="easyui-validatebox" required="true" />
		</div>
		<div class="fitem">
			<label>姓名:</label>
			<input name="stuName" class="easyui-validatebox" required="true" />
		</div>
		<button class="easyui-linkbutton" type="submit">保存</button>
		<a href="#" class="easyui-linkbutton"  onclick="javascript:$('#adddg').dialog('close')">取消</a>
	</form>
</div>

<div id="adddg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
	 closed="true" buttons="#adddg-buttons">
	<div class="ftitle">学生信息</div>
	<form class="w3-container" action="#" th:action="@{/students/add}" method="post" >
		<div class="w3-section">
			<label>学号:</label>
			<input name="stu_id" class="w3-input w3-border w3-margin-bottom" type="text" required="true" />
			<label>密码:</label>
			<input name="password"  class="w3-input w3-border w3-margin-bottom" type="text" required="true" />
			<label>性别:</label>
			<input name="sex" class="w3-input w3-border w3-margin-bottom" type="text" required="true" />
			<label>班级:</label>
			<input name="stu_class" class="w3-input w3-border w3-margin-bottom" type="text" required="true" />
			<label>姓名:</label>
			<input name="stuName" class="w3-input w3-border w3-margin-bottom" type="text" required="true" />
			<button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">添加</button>
			<a href="#" class="easyui-linkbutton"  onclick="javascript:$('#adddg').dialog('close')">取消</a>
		</div>

	</form>
</div>


</body>
</html>