<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>成绩邦</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="w3.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>
<div class="w3-container">
    <h2>我是学生，我要登录</h2>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Student Login</button>
    <h2>我是学生，我要注册</h2>
    <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-green w3-large">Student Register</button>
    <h2>我是老师，我要登录</h2>
    <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-green w3-large">Teacher Login</button>
    <h2>我是老师，我要注册</h2>
    <button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-green w3-large">Teacher Register</button>
</div>
<!--div-->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <img src="./images/icons/img_avatar4.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" th:action="@{/login}" method="post">
                <div class="w3-section">
                    <label><b>学号</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="stu_id" required>
                    <label><b>密码</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="password" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Student Login</button>
                    <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                </div>
            </form>

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
            </div>

        </div>
    </div>
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center"><br>
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <img src="./images/icons/img_avatar4.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" action="#" th:action="@{/register}" method="post"  >
                <div class="w3-section">
                    <label><b>学号</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Stu_id" name="stu_id"  id="stu_id" required>
                    <label><b>姓名</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter stuName" name="stuName" id="stuName" required>
                    <label><b>密码</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="password" id="password" required>
                    <label><b>性别</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter sex" name="sex" id="sex" required>
                    <label><b>班级</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter class" name="stu_class" id="stu_class"  required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Student Register</button>
                </div>
            </form>

        </div>
    </div>
    <div id="id03" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <img src="./images/icons/img_avatar4.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" th:action="@{/teacherLogin}" method="post">
                <div class="w3-section">
                    <label><b>工号</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="tea_id" required>
                    <label><b>密码</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="password" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Teacher Login</button>
                    <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                </div>
            </form>

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
            </div>

        </div>
    </div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center"><br>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <img src="./images/icons/img_avatar4.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" action="#" th:action="@{/teacherRegister}" method="post"  >
                <div class="w3-section">
                    <label><b>工号</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Tea_id" name="tea_id"  id="tea_id" required>
                    <label><b>密码</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="password" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Teacher Register</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
