<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; width: 100%">
<style>div{float: left}</style>
<div id="text" style="height: 10% ;width:100%" align="center">
    <h1>最近考试情况</h1>
    <!--<a href="">查看六边形能力图</a> -->
</div>
<div style="height: 50%;width:16.7%" align="left">
    <h4 th:text="'&nbsp;&nbsp;&nbsp;&nbsp;'+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getTitle():'暂无成绩信息'}">&nbsp;&nbsp;&nbsp;&nbsp;最近考试成绩</h4>
    <ul>
        <li th:text="'  语文 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getChinese():''}">语文 100</li>
        <li th:text="'  数学 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getMath():''}">数学 100</li>
        <li th:text="'  英语 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getEnglish():''}">英语 100</li>
        <li th:text="'  物理 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getPhysics():''}">物理 100</li>
        <li th:text="'  化学 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getChemistry():''}">化学 100</li>
        <li th:text="'  生物 '+${latestScoreList!=null&&latestScoreList.get(0)!=null?latestScoreList.get(0).getBiology():''}">生物 100</li>
    </ul>
</div>
<div style="height: 50%;width:16.7%" align="left">
    <br/>
    <br/>
    <br/>
    <p th:text="${latestComment!=null?latestComment.getComment_details():''}">考得不错！就是粗心了点！下次加油哦！</p>
    <p th:text="${latestComment!=null?'--'+latestComment.getTeacherName():''}" align="right">--陈老师</p>
</div>
<div id="total" style="height: 50%;width:33.3%" align="center"></div>
<div style="height: 50%;width:33.3%" align="right"></div>
<div style="height: 5%;width:33.3%" align="left"></div>
<div id="_total" style="height: 5%;width:33.3%" align="center"><li align="center" valign="top">最近考试总分变化</li></div>
<div style="height: 5%;width:33.3%" align="right"></div>
<div id="chinese" style="height: 50%;width:33.3%" align="left"></div>
<div id="math" style="height: 50%;width:33.3%" align="center"></div>
<div id="english" style="height: 50%;width:33.3%" align="right"></div>
<div id="text1" style="height: 5%;width:33.3%" align="left"><li align="center">语文</li></div>
<div id="text2" style="height: 5%;width:33.3%" align="center"><li align="center">数学</li></div>
<div id="text3" style="height: 5%;width:33.3%" align="right"><li align="center">英语</li></div>
<div id="physics" style="height: 50%;width:33.3%" align="left"></div>
<div id="chemistry" style="height: 50%;width:33.3%" align="center"></div>
<div id="biology" style="height: 50%;width:33.3%" align="right"></div>
<div id="text4" style="height: 5%;width:33.3%" align="left"><li align="center">物理</li></div>
<div id="text5" style="height: 5%;width:33.3%" align="center"><li align="center">化学</li></div>
<div id="text6" style="height: 5%;width:33.3%" align="right"><li align="center">生物</li></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" th:inline="javascript">
    var totals= document.getElementById("total");//
    var dom=new Array();
    dom[0] = document.getElementById("chinese");
    dom[1] = document.getElementById("math");
    dom[2] = document.getElementById("english");
    dom[3] = document.getElementById("physics");
    dom[4] = document.getElementById("chemistry");
    dom[5] = document.getElementById("biology");
    var totalChart=echarts.init(totals);//
    var myChart=new Array();
    for(i=0;i<6;i++){
        myChart[i]=echarts.init(dom[i]);
    }
    var app = {};
    /*<![CDATA[*/
    var sub=/*[[${latestScoreList}]]*/[];
    var totalList=/*[[${totalList}]]*/[];
    /*]]>*/
    console.log(sub);
    var subject=new Array();
    for(i=0;i<6;i++)
        subject[i]=new Array();
    for(i=0;i<sub.length;i++){
        subject[0][sub.length-i-1]=sub[i].chinese;
        subject[1][sub.length-i-1]=sub[i].math;
        subject[2][sub.length-i-1]=sub[i].english;
        subject[3][sub.length-i-1]=sub[i].physics;
        subject[4][sub.length-i-1]=sub[i].chemistry;
        subject[5][sub.length-i-1]=sub[i].biology;
    }
    option = null;
    for (i=0;i<6;i++){
        option = {
            xAxis: {
                type: 'category',
                data: ['.', '..', '...', '....', '.....',  'Now']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data:subject[i], /*[subject[i][0], subject[i][1], subject[i][2], subject[i][3], subject[i][4], subject[i][5]],*/
                // data: [70,90,80,55,60,88],
                type: 'line'
            }]
        };

        if (option && typeof option === "object") {
            myChart[i].setOption(option, true);
        }
    }
    option = {
        xAxis: {
            type: 'category',
            data: ['.', '..', '...', '....', '.....',  'Now']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: totalList/*[totalList[5], totalList[4], totalList[3], totalList[2], totalList[1], totalList[0]]*/,
            // data: [70,90,80,55,60,88],
            type: 'line'
        }]
    };

    if (option && typeof option === "object") {
        totalChart.setOption(option, true);
    }
</script>
</body>
</html>